[2014-10-15 17:56] riuson opened #1 "Images, other than png and bmp, not supported"
_From [riu...@gmail.com](https://code.google.com/u/115400302433030362010/) on May 05, 2012 09:23:43_

What steps will reproduce the problem? 1. Run application on system without Qt installed
2. Create new image
3. Import jpeg image
4. Image will be 0x0 px

Imported image must be loaded in editor, but image is empty and 0x0 px.

**Attachment:** [sample.png](http://code.google.com/p/lcd-image-conver

[2014-10-15 17:56] #1 closed, assigned to riuson

[2014-10-15 17:57] riuson opened #2 "compile problem,"
_From [ric...@gmail.com](https://code.google.com/u/106147287184761981827/) on July 09, 2012 01:56:30_

Using Ubuntu 12.04

The file "resources/resources.qrc" contains this reference to a non existant file

<file alias="ru">lcd-image-converter-ru.qm</file>

should it be pointing to "resources/lcd-image-converter-ru.ts" ?

Manually changing it lets it finish compiling ok and seems to work.

_Origina

[2014-10-15 17:57] #2 closed, assigned to nobody

[2014-10-15 17:57] riuson opened #3 "strange menu behaviour, image import doesn't work"
_From [ric...@gmail.com](https://code.google.com/u/106147287184761981827/) on July 09, 2012 02:13:50_

Ubuntu 12.04

When the program opens there is just a blank screen (which looks like it is broken - maybe some splash screen or a default image should appear?)

After opening the program, the 'image' and 'font' menus don't work, unless you first visit one of the other menus.

Then when the image m

[2014-10-15 17:57] #3 closed, assigned to riuson

[2014-10-15 17:57] riuson opened #4 "Ordering problems - Colors order"
_From [freddie....@gmail.com](https://code.google.com/u/113274887834125718749/) on August 04, 2012 03:40:02_

Colors order names are inverted. For example when one talks about RGB order it should be (in hex) 0xRRGGBB - red is MSB, but in your program it is the opposite - red is LSB (0xBBGGRR).

All names of color order should be inverted

_Original issue: http://code.google.com/p/lcd-image-convert

[2014-10-15 17:57] #4 closed, assigned to nobody

[2014-10-15 17:57] riuson opened #5 "Ordering problem - naming of bits"
_From [freddie....@gmail.com](https://code.google.com/u/113274887834125718749/) on August 04, 2012 03:58:15_

In Options > Conversion... the order and naming of bits in the "slider" below options is somewhat opposite to what people usually expect - LSB to be on the left and 0 used to denote LSB.

I suggest you change the "slider" to be completely opposite:
- initial position - max to the right
- p

[2014-10-15 17:57] #5 closed, assigned to nobody

[2014-10-15 17:57] riuson opened #6 ""Mirror bytes" issue"
_From [freddie....@gmail.com](https://code.google.com/u/113274887834125718749/) on August 04, 2012 13:03:28_

What steps will reproduce the problem? 1. Open any color image
2. Go to Options > Conversion...
3. Select Type - Color and Data blocks - 32 bit What is the expected output? What do you see instead? When you check "Mirror bytes" in the preview you see correct operation - for example 0x01AA8

[2014-10-15 17:57] #6 closed, assigned to nobody

[2014-10-15 17:57] riuson opened #7 "Shifted output"
_From [freddie....@gmail.com](https://code.google.com/u/113274887834125718749/) on August 04, 2012 13:11:54_

What steps will reproduce the problem? 1. Open color image
2. Go to Options > Conversion...
3. Select Type - Color and Data blocks - 32-bit
4. Select 8bits per each color What is the expected output? What do you see instead? Without packing enabled I would expect the most significant byte

[2014-10-15 17:57] #7 closed, assigned to riuson

[2014-10-15 17:57] riuson opened #8 "Template problems and improvements"
_From [freddie....@gmail.com](https://code.google.com/u/113274887834125718749/) on August 04, 2012 13:49:23_

This is a suggestion of template improvement that I think would be beneficial. Improvements suggested:
1. sidenote - @fileName@ is always blank, probably some issue in the code
2. underlying type of data is always "unsigned char" which is course wrong for any data block size other than 8 b

[2014-10-15 17:57] #8 closed, assigned to nobody

[2014-10-15 17:57] riuson opened #9 "Littel-Endian / Big Endian setting has no effect"
_From [joern.ma...@gmail.com](https://code.google.com/u/117849069953097263637/) on January 03, 2013 05:01:56_

What steps will reproduce the problem? 1. Executing a monochrome conversation with 8x8 pixel. The first pixel is  black.
2. No RLE
3. choosing little Ending What is the expected output? What do you see instead? I would expect 0x01 in the first output line. I get 0x80. Means I always get a

[2014-10-15 17:57] #9 closed, assigned to riuson

[2014-10-15 17:57] riuson opened #10 "4bit OLED support"
_From [rigo.m...@gmail.com](https://code.google.com/u/103213415101959802692/) on February 26, 2013 22:08:03_

Support for OLED Displays where a grayscale pixel is held in 4bit.
For example the SSD1325 driver addresses a display this way.

This would be realy great.
Thanks for all your work!

_Original issue: http://code.google.com/p/lcd-image-converter/issues/detail?id=10_

[2014-10-15 17:58] #10 closed, assigned to riuson

[2014-10-15 17:58] riuson opened #11 "support to save file as *.h"
_From [chtn.1...@gmail.com](https://code.google.com/u/106555470088058845836/) on March 14, 2013 01:06:39_

very nice application, it is very simple and easy to use.
it wold be helpful if it supports to save file as *.h along with its usual *.c

_Original issue: http://code.google.com/p/lcd-image-converter/issues/detail?id=11_

[2014-10-15 17:58] #11 closed, assigned to riuson

[2014-10-15 17:58] riuson opened #12 "Czech ascii table"
_From [drazd...@gmail.com](https://code.google.com/u/117962646043282898395/) on May 03, 2013 12:14:33_

Hallo,

I am very interested about your program. I create fonts in it for graphics display 320x240 px. But I have one problem. In program miss support for czech ascii table.

Here is:  !"#$&#37;&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[]^_`abcdefghijklmnopqrstuvwxyz{|}~€‚„…†‡‰Š‹Ś

[2014-10-15 17:58] #12 closed, assigned to riuson

[2014-10-15 17:58] riuson opened #13 "Custom size of windows fonts"
_From [ashibato...@gmail.com](https://code.google.com/u/101762131433661266885/) on May 07, 2013 19:17:46_

Hello,
I really like your Lcd image converter, which is far better than many comercially used tools. I was using Font converter for emWin from Segger or LCD Vision from HP Infotech so i can compare a bit ;-)
I would like to ask about one feature i couldnt use. It is custom size of new font. W

[2014-10-15 17:58] #13 closed, assigned to riuson

[2014-10-15 17:58] riuson opened #14 "Image antialiasing"
_From [ashibato...@gmail.com](https://code.google.com/u/101762131433661266885/) on May 16, 2013 14:22:30_

Hello,
It could be nice if it is possible to add antialiasing function to Image menu. When i draw small icon i can use Antialiasing (maybe even to set level of antialiasing, colour or grayscale, bit depth 4..8bit) to make it smooth on the display. At moment is is possible to use antialiasing

[2014-10-15 17:58] #14 closed, assigned to nobody

[2014-10-15 17:58] riuson opened #15 "128 or 256 glyph fonts"
_From [mike.a...@gmail.com](https://code.google.com/u/110010556472109021437/) on July 17, 2013 00:47:39_

Is there any way to create fonts with more than 95 characters (glyphs)?

_Original issue: http://code.google.com/p/lcd-image-converter/issues/detail?id=15_

[2014-10-15 17:58] #15 closed, assigned to riuson

[2014-10-15 17:58] riuson opened #16 "Add new scan algorithm"
_From [riu...@gmail.com](https://code.google.com/u/115400302433030362010/) on August 23, 2013 23:34:44_

Add new options to change scanning sequence.

**Attachment:** [scanning_band1.png scanning_band2.png](http://code.google.com/p/lcd-image-converter/issues/detail?id=16)

_Original issue: http://code.google.com/p/lcd-image-converter/issues/detail?id=16_

[2014-10-15 17:59] #16 closed, assigned to riuson

[2014-10-15 17:59] riuson opened #17 "Add alpha channel support"
_From [riu...@gmail.com](https://code.google.com/u/115400302433030362010/) on August 30, 2013 16:42:53_

Add alpha channel support, 32-bit image data.

_Original issue: http://code.google.com/p/lcd-image-converter/issues/detail?id=17_

[2014-10-15 17:59] #17 closed, assigned to riuson

[2014-10-15 17:59] riuson opened #18 "Enter one-line summary"
_From [riu...@gmail.com](https://code.google.com/u/115400302433030362010/) on September 17, 2013 13:13:03_

Add Image Copy/Paste feature

_Original issue: http://code.google.com/p/lcd-image-converter/issues/detail?id=18_

[2014-10-15 17:59] #18 closed, assigned to riuson

[2014-10-15 17:59] riuson opened #19 "Prepare option strange behaviour"
_From [djeffdio...@gmail.com](https://code.google.com/u/114040428618501969796/) on January 03, 2014 18:26:29_

What steps will reproduce the problem? Create font with character "!", 12 px high.
- In options, all Monochrome (1bpp), 8 bit block size.
- In options, set inverse (for clarity)
- Top to Bottom, Forward.   Preview (of !):
  0x40,
  0x40,
  0x40,
  0x40,
  0x40,
  0x40,
  0x40,
  0x00,
  0

[2014-10-15 17:59] #19 closed, assigned to riuson

[2014-10-15 17:59] riuson opened #20 "Fonts Not Being Saved in tFont/tChar Format"
_From [joh06...@gmail.com](https://code.google.com/u/110892693176632541239/) on January 07, 2014 07:21:02_

What steps will reproduce the problem? 1. Start "New Font"
2. Just use standard "Font" name
3. Choose font (I chose the first selected one, which was "MS Shell Dlg 2")
4. File->Save, and save as "Font.xml"
5. File->Convert..., and save as "Font.c" What is the expected output? What do you see

[2014-10-15 17:59] #20 closed, assigned to nobody

[2014-10-15 17:59] riuson opened #21 "Select Non-Standard Font Style"
_From [joh06...@gmail.com](https://code.google.com/u/110892693176632541239/) on January 11, 2014 04:18:17_

I have a font style installed on my computer that doesn't fall under the Regular/Italic/Bold/Bold Italic list (it's "Light"). I couldn't find a way to select this style of the font from the drop-down menu (it only had the first 4 normal ones). It'd be nice if there was a way to select other

[2014-10-15 17:59] #21 closed, assigned to riuson

[2014-10-15 17:59] riuson opened #22 "command line version"
_From [m...@berushka.net](https://code.google.com/u/109434736939213953225/) on January 17, 2014 14:39:36_

I would like command line version mainly for fonts. For example:
lcd-image-converter -font "Ubuntu Mono" -size 14 -monospaced -antialiasing -save ubuntu-mono-14.xml

_Original issue: http://code.google.com/p/lcd-image-converter/issues/detail?id=22_

[2014-10-15 17:59] #22 closed, assigned to riuson

[2014-10-15 17:59] riuson opened #23 "No support for RGB8 data format?"
_From [santacru...@gmail.com](https://code.google.com/u/105135209463873737182/) on February 22, 2014 01:45:08_

What steps will reproduce the problem? 1. imported images can't be converted to the common 8-bit OLED data format--

For 256-color mode, one pixel data is sent in a 8-bit session like below.

Bit 7 Bit 6 Bit 5 Bit 4 Bit 3 Bit 2 Bit 1 Bit 0
C2 C1 C0 B2 B1 B0 A1 A0

Figure 11 – 256 Color D

[2014-10-15 17:59] #23 closed, assigned to riuson

[2014-10-15 17:59] riuson opened #24 "default file naming"
_From [tomrobe...@gmail.com](https://code.google.com/u/109027681905709830240/) on March 05, 2014 20:30:23_

when importing an image the image name should be renamed to the same name as te image filename (or a promt box should ask if you want this)

also when converting to a c file or saving the setup to xml the image name should be default filled in as the "save as" filename

this should avoid tha

[2014-10-15 18:00] #24 closed, assigned to riuson

[2014-10-15 18:00] riuson opened #25 "Command line operation"
_From [onwards....@gmail.com](https://code.google.com/u/114667637063410308394/) on April 28, 2014 09:53:09_

Command line operation of program so could do scripting and batching conversion of images using specified Preset

_Original issue: http://code.google.com/p/lcd-image-converter/issues/detail?id=25_

[2014-10-15 18:00] #25 closed, assigned to riuson

[2014-10-15 18:00] riuson opened #26 "Mainmenu"
_From [coolf...@gmail.com](https://code.google.com/u/113391083099466245564/) on May 07, 2014 13:11:14_

I have one error (windows version).
Mainmenu -> font -> change size and optimize height, on click show same window (change size) :(

_Original issue: http://code.google.com/p/lcd-image-converter/issues/detail?id=26_

[2014-10-15 18:00] #26 closed, assigned to riuson

[2014-10-15 18:00] riuson opened #27 "Font Setup->Style selectin doesn't display all the weights of the OpenType fonts."
_From [kurt.ozc...@gmail.com](https://code.google.com/u/113578057969261536507/) on May 14, 2014 03:12:30_

Here is the repro:
1. Download Anonymous Pro font,
2. Start the tool and select New Font,
3. Select Anonymous Pro as source

I expect to see at least Normal but only shows Bold and Italic.

LCD Image Converter version is 6998b5e, Qt 5.1.1.

OS is Windows 7 64 bit.

Does the tool implements fi

[2014-10-15 18:00] riuson opened #28 "Build in OS X"
_From [Eugene.T...@gmail.com](https://code.google.com/u/103523098022141018828/) on June 05, 2014 00:26:31_

Dear Vladimir,

I've tried to build you program in OS X 10.9.3, but got this. Please see the attached patch hopefully solving the problem.

controls/setup/parts/matrix/matrixitemdelegate.cpp:22:49: error: addition of
      default argument on redeclaration makes this constructor a default

[2014-10-15 18:00] #28 closed, assigned to riuson

[2014-10-15 18:00] riuson opened #29 "How to make a 4bpp font?"
_From [vmzakhar@gmail.com](https://code.google.com/u/vmzakhar@gmail.com/) on July 16, 2014 20:00:30_

Hi,

I'm trying to use your software to create a bitmap font for my embedded application. What I need is anti-aliased 4bpp font, is it possible to to in your program? I've seen mentionings of it in the documentation, but couldn't find or create a 4bpp preset in the GUI.

Could you please help me?

[2014-10-15 18:00] #29 closed, assigned to riuson

[2014-10-15 18:00] riuson opened #30 "Font antialiasing in 16 bit colour"
_From [onwards....@gmail.com](https://code.google.com/u/114667637063410308394/) on August 04, 2014 11:49:22_

What steps will reproduce the problem? 1. Create 100pt (also works with range of other sizes) Arial bold font in colour with antialiasing (255red on black background)
2. Use R5G6B5 preset to convert What is the expected output? What do you see instead? Expecting to see antialiased font on

[2014-10-15 18:00] #30 closed, assigned to riuson

[2014-10-15 18:00] riuson opened #31 "RLE Compressor improvement"
_From [onwards....@gmail.com](https://code.google.com/u/114667637063410308394/) on August 12, 2014 04:29:30_

What steps will reproduce the problem? 1.  Load an image (a photo is a good demo for this, attached my demo pic)
2.  Convert image with RLE on
3.  Count number of sequences
4.  Note filesize
5.  Modify rlecompressor.cpp with this line and repeat steps 1. thru 4.

line 86:
-- if (!this->all

[2014-10-15 18:00] #31 closed, assigned to riuson

[2014-10-15 18:00] riuson opened #32 "Antialiasing "false" in .xml when it is actually on."
_From [onwards....@gmail.com](https://code.google.com/u/114667637063410308394/) on August 12, 2014 04:39:06_

What steps will reproduce the problem? 1. Create font with antialiasing on.
2. Save xml.
3. View xml in text editor or open again lcd-image-converter.
4. Note: <antialiasing>false</antialiasing> What version of the product are you using? On what operating system? Develop (7 Aug 2014) on Wi

[2014-10-15 18:00] #32 closed, assigned to riuson

[2014-10-15 18:00] riuson opened #33 "Animation by storing multiple images as a 'font'"
_From [onwards....@gmail.com](https://code.google.com/u/114667637063410308394/) on August 20, 2014 05:58:29_

Presently, in order to do animations, I manually combine the data (copy+paste) from individual images into a single file in identical format to how a font is stored.

This is a very manual and slow process (especially once you get to large numbers of frames) but it works well once the data

[2014-10-15 18:01] #33 closed, assigned to riuson

[2014-10-15 18:01] riuson opened #34 "Unable to use wildcard with hex2bin command mode"
_From [onwards....@gmail.com](https://code.google.com/u/114667637063410308394/) on August 20, 2014 10:50:27_

What steps will reproduce the problem? 1. lcd-image-converter.exe --mode=hex2bin --input=_.c --output=_.bin What is the expected output? What do you see instead? Error is produced.  The aim is to convert all .c files in the current directory to .bin with one command.  Instead it is require

[2014-10-15 18:01] #34 closed, assigned to riuson

[2014-10-15 18:01] riuson opened #35 "Byte order in image options not works"
_From [davide.r...@gmail.com](https://code.google.com/u/118336726984788658312/) on August 21, 2014 15:37:49_

What steps will reproduce the problem? 1. option,conversion,image
2. block size 8 bit and RGB565
3. byte order big endian/little endian What is the expected output? What do you see instead? change the order of byte with little/big endian option What version of the product are you using? On

[2014-10-15 18:06] #35 closed, assigned to riuson

[2014-10-15 18:08] riuson opened #36 "Can't get example code to work."
_From [robertba...@gmail.com](https://code.google.com/u/112552624077690251735/) on September 18, 2014 19:43:56_

What steps will reproduce the problem? I am trying us use the example code that is posted on the website to generate fonts. I downloaded the latest version. The structure posted on the site is as follows:

typedef struct
{
    const unsigned char _data;
    uint16_t width;
    uint16_t

[2014-10-15 18:09] #36 closed, assigned to riuson

[2014-12-14 14:53] #27 closed, assigned to riuson

[2015-01-27 14:27] DmitryBondarenko opened #37 "Сглаживание включается для некоторых размеров шрифта без спроса"
Добрый день!

Ревизия ff449e0 от 2014-12-14 12:47:27 +0500

Создаю новый шрифт, задаю настройки преобразования "Монохромный, порог"

Задаю параметры шрифта - моноширинный, сглаживание выключено, размер шрифта 16 и менее - все работает как ожидается.

Меняю параметры, изменив размер шрифта больше 16, но меньше 72 - в битмапах шрифта появляется сглафивание полутонами, которое я не включал

Меняю пар

[2015-01-27 15:44] riuson commented on #37
Здравствуйте!

Изменение, ставшее причиной такого поведения:
https://github.com/riuson/lcd-image-converter/commit/85487685fa34b7555463ecfbd9c27c663b6aae45
По запросу пользователя:
https://github.com/riuson/lcd-image-converter/issues/30

Это не антиалиасинг, поэтому эта опция не влияет на результат.
До того изменения символы рисовались на RGB32, без альфа-канала. Округление значения пиксела до ближ

[2015-02-08 06:56] #37 closed

[2015-10-26 13:04] sumotoy opened #38 "pressing 'update' close the application"
Hi vladimir, thanks for writing this, it's the best tool for LCD I've find around!
I'm using extensively and noticed only some small bug (I will point you the list and how to reproduce).
The most evident (with the last beta) is pressing update close the application without any notice.

PS
The 'Templates' system are extremely useful! Would be great if it's possible to expand commands inside templat

[2015-10-26 16:00] riuson commented on #38
Hello, thanks!

I can't reproduce bug with menu item Help -> Updates.
May be at your location is blocked access to file [history.xml](http://lcd-image-converter.riuson.com/history/history.xml) ?

What other commands may be needed?

[2015-10-27 18:38] sumotoy commented on #38
Thanks vladimir,
dunno why as soon I press update the app close. Same happen in notebook, both are win 7/64 bit.
I was using this utility from last year, maybe during update something happen in preferences? I will see if trashing preferences will help to solve the problem later.
Btw the most annoing bug is the following (and I can reproduce in both computer), it happens in font and image mode:
1)

[2015-10-28 14:45] riuson commented on #38
Dialog window Help -> Updates does not use any preferences.

Names... This behavior was intended by design.
The reason is that the document name is not associated with the name of the file after conversion (ie, 'fontUbuntuBold' in file font_screen.c). The document name can be changed via menu File -> Rename. The name of the resulting file can be changed by saving it.

If unsaved document is conver

[2015-10-30 15:22] sumotoy commented on #38
Hi,
yes, I will try your suggestion! I have tried to install in a third computer (again Win7/64) and have the same issue, it close app as soon I press update. It's not a big problem, just want to understand why.
Do you think it's possible (in templates) get $(img_rle) as integer (or boolean) instead of 'no'?

[2015-10-30 16:18] riuson commented on #38
If you can, try step debug 'updates' on your PC.

It is already possible:

[code]

[2015-11-02 23:36] sumotoy commented on #38
Thanks! Thanks again develop this app, it's for sure the most featured of this kind. I'm start to use as standard for all my LCD/TFT/OLED libraries.

[2015-11-03 04:28] riuson commented on #38
Thanks

[2015-11-03 14:56] riuson commented on #37
Альфа-канал сделан опциональным в 9a6644ea6973d4d1fd5843b98f136044b6932ebe 2015-11-03

[2015-11-03 17:03] DmitryBondarenko commented on #37
Владимир, спасибо за нововвседение! Очень полезная фунция, если работаешь с маленькими монохромными дисплеями.

[2015-11-14 07:54] riuson commented on #38
`
Same happen in notebook, both are win 7/64 bit.
`
Try install [Win32OpenSSL](http://www.heise.de/download/win32-openssl.html) 32-bit, with libraries at /bin. When copy *.dll from /bin to directory with lcd-image-converter.

[2015-11-14 15:33] sumotoy commented on #38
coping:
libeay32.dll,libssl32.dll inside lcd-image-converter folder finally solve the problem!

[2015-11-14 15:50] riuson commented on #38
So, I think your OS have other copy of incompatible openssl libraries in PATH, what loaded at line [dialogupdates.cpp#L124](https://github.com/riuson/lcd-image-converter/blob/b42b97d204659dd927072318f40e8da06a12f031/controls/updates/dialogupdates.cpp#L124).
SSL is not used in app, but Qt tried to load libraries anyway. If they are not found, this lines are shown at logs:
[code]

[2015-11-14 16:03] sumotoy commented on #38
I've checked on both computer, system->ambient variables, there's no sign of open SSL in PATH (apart OPENSSL_CONF that has added by Win32OpenSSL installation).
Do you think that I should install Win64OpenSSL with 'Windows System Directory' option to fix my OpenSSL libraries?

[2015-11-14 16:15] riuson commented on #38
No, do not install it to system.

I think no 'SSL' in PATH, but some of opensll libraries are found thru directories, what listed in PATH.

[2015-11-14 16:45] sumotoy commented on #38
User:
C:\Program Files (x86)\WinAnt\bin;C:\Program Files (x86)\GPAC;C:\Program Files (x86)\GPAC;C:\Program Files (x86)\GPAC;C:\Users\me\AppData\Local\.meteor;C:\cygwin64\bin;C:\MinGW\bin;C:\apache-ant\bin;

system:
C:\Python27\;C:\Python27\Scripts;C:\ProgramData\Oracle\Java\javapath

[2015-11-14 19:33] riuson commented on #38
Python, cygwin and apache can have this libraries.

[2016-03-17 11:59] 0xb0ba opened #39 "null pointers for unused characters"
добавить возможность делать шрифты с "дырками в диапазоне". т.е. нужны мне цифры и буквы заглавные делаем шрифт с диапазоном от 0x30 до 0x7a. но при этом данные для не цифр и букв не добавляем.

[2016-03-17 13:57] riuson commented on #39
@0xb0ba, не могли бы повторить вопрос на русском?

[2016-03-17 14:16] 0xb0ba commented on #39
я ведь уверен был, что автор знает русский ))))

[2016-03-17 14:20] riuson commented on #39
А вы нашли программу не через русские форумы?)

Такая возможность была с самого начала. Просто не указывайте символы при создании шрифта, и они не будут включены в результат.

[2016-03-17 14:24] 0xb0ba commented on #39
где-то в гугле нашел. сходу уже не вспомню.

это я понимаю, что можно вообще не добавлять ненужные символы. но тогда в Font_array будет лежать колво указателей равное добавленным символам, "дырок"  там не будет.

[2016-03-17 14:27] riuson commented on #39
В font_array будет указатели только на те символы, что были добавлены.
Вам чтоли нужны именно нулевые указатели на все незадействованные символы?

[2016-03-17 14:29] 0xb0ba commented on #39
в промежутке между задействованными

[2016-03-17 14:29] riuson commented on #39
Смысл? Выборка из таблицы по индексу?

[2016-03-17 14:30] 0xb0ba commented on #39
да, по индексу.
смысл в стандартной кодировке, но экономии памяти.

[2016-03-17 14:36] riuson commented on #39
Это слегка не вписывается. Есть же бинарный поиск. Тем более, количество кодов небольшое.
Могу предложить объединение указателей на идентичные символы.
Или нулевые указатели на символы, которые по размеру меньше указанных.

[2016-03-17 14:47] 0xb0ba commented on #39
медленно, опять же память.

не совсем понял, но в идеале хотелось бы совмещать одинаковые символы по начертанию из разных кодировок.

я пробовал делать символы с нулевыми размерами :)

кстати, символ с размерами 1x1 вдруг начинает занимать 2 байта.

[2016-03-17 15:13] riuson commented on #39
Да, именно это.

Сейчас это тоже не реализовано.

Работа  изображениями меньше двух точек не предусмотрена.

[2016-03-17 15:21] 0xb0ba commented on #39
имхо проще всего :)

2x1 тоже два байта, впрочем это не важно.

[2016-03-17 15:46] riuson commented on #39
Как реализую, сообщу здесь.

[2016-03-17 15:51] 0xb0ba commented on #39
спасибо!

[2016-03-19 14:43] riuson commented on #39
Итак...
- [x] 05135a179eecec8c4b9801566499d00180c8f8ac Совмещение символов одинакового содержимого/размера.

Символы не удаляются самой программой. Но в теги добавлены (см. 7feee224a6ce2602b4b03d2405bf1c5dba1c8ccb) 2 новых:
  * **out_char_code_sim** - код совпадающего символа или пустая строка;
  * **out_char_text_sim** - текст совпадающего символа или пустая строка.

Если добавить соответствующие

[2016-03-19 16:05] 0xb0ba commented on #39
оперативно!

исходник перестает быть читаем :(

`static const tChar Font_array[] PROGMEM = {
#if (0x0 == 0x0)
#if (0x04 != 0x0)
  {image_data_Font_0x30, 4},      // character: '0'
#else
  {0, 4},      // character: '0'
#endif
#else
#if (0x04 != 0x0)
  {image_data_Font_0x, 4},      // character (simulation): ''
#else
  {0, 4},      // character (simulation): ''
#endif
#endif

#if (0x0 == 0x0)
#if (

[2016-03-19 16:08] riuson commented on #39
Исходник для компилятора, не забывайте. А программно генерируемый исходник - особенно.
И у Вас что-то слишком сложно получилось. Посмотрите пример по ссылке ещё.

p.s. это не симуляция (simulation)...

[2016-03-19 16:40] 0xb0ba commented on #39
ну от этого он не становится более читаем :)

можно упростить, если учесть, что пустой и пустой похожий суть одно и тоже. но не сильно :)

один символ симулируется другим.

[2016-03-21 14:56] alistairsmarter opened #40 "Conversion option 'Split to rows' generates less data when turned-off."
Hello,

I require my data output on a single line, however, when I deselect 'Split to rows' under the Image tab in Conversion Options, data is single row but less bytes are generated, resulting in an incorrectly displayed image.

Many thanks

[2016-03-21 15:00] riuson commented on #40
Hello,
Please, provide:
- small sample image file;
- preset, exported to xml file;
- actual result;
- desired result.

[2016-03-24 13:41] #39 closed

[2016-04-01 19:01] mike603 opened #41 "multi row per byte"
I am using the UltraChip UC1618t in my application for a 256 x 128 2 bit per pixel gray scale display.  Each bytes sequentially in memory represents a single pixel on four rows as follows (this is a bad 4x4 letter A in black and white).

As normal bit map (4x4):     0x0C, 0xC3, 0xFF, 0xC3
What the controller wants:  0xFC, 0x30, 0x30, 0xFC

As pixels
      X
  X    X
  XXXX
  X    X

In other words

[2016-04-01 20:50] riuson commented on #41
Hello,
Try this settings:
![2016-04-02_01-41-02](https://cloud.githubusercontent.com/assets/415202/14219668/02304e16-f875-11e5-9574-4ca0f12a149c.png)

![2016-04-02_01-43-56](https://cloud.githubusercontent.com/assets/415202/14219670/09a43112-f875-11e5-895a-625c1259de17.png)

![2016-04-02_01-44-42](https://cloud.githubusercontent.com/assets/415202/14219673/0c46323a-f875-11e5-9349-781af05e1012.png)

[2016-04-01 22:23] mike603 commented on #41
Thank you, I will try that on Monday.

On 4/1/2016 3:50 PM, Vladimir wrote:

[2016-04-04 15:27] mike603 commented on #41
Vladimir,

Thank you for your help.  It didn't quite work.

I have attached a sample image. Below is the array that I hand converted.

In this particular case I am just converting text so I am converting
from a 1bit PNG file.

It is possible that I might be converting from 4 color grayscale in an
8-bit png or gif.

     //
     //  Rows 0 - 3
     //
     0x00, 0x00, 0xc0, 0xfc, 0x3c, 0xfc, 0xc0,

[2016-04-04 15:31] riuson commented on #41
Mike, you are writing to the issue tracking system on Github via email.
All attached files are lost.
Please login on GitHub and attach them here, or email to me directly.

[2016-04-04 15:48] mike603 commented on #41
Vladimir,

Thank you for your time.  Here is the missing attachment.
![abcd_1bit](https://cloud.githubusercontent.com/assets/18218904/14253822/b27d876e-fa52-11e5-9a2f-7c6296454c95.png)

[2016-04-04 15:49] mike603 commented on #41
Sorry, I didn't mean to close this.  Forgive my GIT ignorance.

[2016-04-04 17:08] riuson commented on #41
Ok. Are was invalid bits order in first message?

Are this valid ? -
byte 1
bits 0 & 1 are row **3**, column 0;
bits 2 & 3 are row **2**. column 0;
bits 4 & 5 are row **1**, column 0;
bits 6 & 7 are row **0**, column 0.

Or you just have reordered data bits between mcu and display?

![2016-04-04_22-02-18](https://cloud.githubusercontent.com/assets/415202/14256215/80ca9e00-fab1-11e5-9d8b-9f40673508

[2016-04-04 18:40] mike603 commented on #41
Vladimir,

Bits 6 and 7 are Row 3, column 0
Bits 4 and 5 are Row 2, column 0
Bits 2 and 3 are Row 1, column 0
bits 0 and 1 are Row 0, column 0

I will try your new idea later today.

Thank you again,

              Mike K.

On 4/4/2016 12:08 PM, Vladimir wrote:

[2016-04-04 18:47] riuson commented on #41
I use following assumptions:
Bit 0 - least significant bit, bit 7 - most significant bit. 76543210.
Point (**0, 0**) - left top corner. Point (last, last) - right bottom corner.
Row 0 - top (up) row. Last row - bottom (down) row.

[2016-04-04 19:19] mike603 commented on #41
Vladimir,

That worked perfectly, thank you.

One suggestion for a future version of this program.  In situations like
this one, the "Split to rows" on the Image tab generates one entry per
line or all entries on a single line.  It might be nice to be able to
format the output by sets of rows (int this case 4).

Thank you again, this was very helpful.

            Mike

Below is the xml file for t

[2016-04-04 19:44] riuson commented on #41
Feature "Split to rows" means completely different than placing one item per line.
But I will think on the limitation of the line length.

Xml with syntax highlight:
[code]

[2016-04-04 19:45] mike603 commented on #41
Vladimir,

I agree, and I understand that split to rows does not mean one per line,
however, in this situation that is what is causes.

Thanks again,

              Mike

On 4/4/2016 2:44 PM, Vladimir wrote:

[2016-04-09 14:29] #41 closed

[2016-05-17 00:53] sumotoy commented on #38
Hi riuson,
I'm back to this, have to replace the compression $(img_rle) from no,yes to integer.
You suggested .
...
#define RLE_no (0)
#define RLE_yes (1)

int rle_enabled = RLE_$(img_rle)

#undef RLE_no
#undef RLE_yes
...
I suppose I have to do that on the source so I have to recompile the whole thing?
I got the complete QT package but during recompile I got these error:

RCC: Error in '../lcd-im

[2016-05-17 02:13] riuson commented on #38
Hello!

No, all changes in template file.

Repository must be cloned via git. And git utility is required to be available via PATH variable in Windows.

[2016-05-17 14:02] sumotoy commented on #38
Wonderful! I got QT worked in a min, tomorrow I will try on OSX.

But I'm try to modify the template as is:
...
#define RLE_no (0)
#define RLE_yes (1)

$(start_block_header)

#include <stdint.h>
int rle_enabled = RLE_$(img_rle)
$(end_block_header)

$(start_block_images_table)
static const uint$(img_data_block_size)_t image_data_$(doc_name_ws)[$(out_blocks_count)] = {
    $(out_image_data)
};
const

[2016-05-17 14:31] riuson commented on #38
Template:
[code]

Result:
[code]

[2016-05-17 14:39] sumotoy commented on #38
There's no way to get:
<code>
const tImage Image = { image_data_Image, 4, 4, 8, 0};//<- 0 or 1
</code>

[2016-05-17 14:42] riuson commented on #38
What do you mean?

[2016-05-17 15:13] sumotoy commented on #38
Loading more image files inside my library will result in an error:
<code>
error: redefinition of 'const int rle_enabled
</code>
since rle_enabled is present in all .c image file I'm including

[2016-05-17 15:18] riuson commented on #38
Try ``static const int`` or defines.

[2016-05-17 22:31] sumotoy commented on #38
Thanks!
I've solved in another way but it works. I have used RLE_$(img_rle) variable an put defines inside external files that contains structures. In this way the result file it's untouched.

[2016-05-17 22:31] #38 closed

[2016-06-04 16:53] sumotoy opened #42 "descent parameter"
It's a request, not a bug!

It's possible access the 'descent' parameter from baseline in template?
Like this:
![glyph_metrics_2x](https://cloud.githubusercontent.com/assets/1028096/15800842/5c5e6dc2-2a85-11e6-86a5-08894eba0685.png)

[2016-06-04 17:16] riuson commented on #42
So as it available in [font metrics](http://doc.qt.io/qt-5.6/qfontmetrics.html), then yes.
But font's modification can change its to wrong value.

[2016-06-07 16:10] riuson commented on #42
Tags `fnt_descent` and `fnt_ascent` added in rev. 07451b763aa7769554a547d348ca0aad46caee6e from 2016-06-07.

[2016-06-07 19:53] sumotoy commented on #42
You right. I've compiled https://github.com/riuson/lcd-image-converter/commit/07451b763aa7769554a547d348ca0aad46caee6e and tested. It works!
I've noticed that optimixe height have strong impact on ascent/descent.
Cutting pixel from top should subtract from ascent and from bottot to descent

[2016-06-08 02:03] riuson commented on #42
Because after getting images for characters we have just images. Every image can be modified **independently**, by width and height. So common 'descent' property of source font become invalid.

[2016-06-08 19:14] sumotoy commented on #42
I understand, even if I never touched a single height but I always use Optimize height...
Can be useful detect single height change and drop the ascent/descent value to 0, as opposite (if no single height change detected) track the Optimize height... changes and update ascent/descent values?
Like this it's possible use ascent/descent when one of the 2 values is not 0.

[2016-06-09 08:51] riuson commented on #42
I think it's possible. But you have to wait much longer time than that taken by implementation of previous feature.

[2016-06-09 18:14] sumotoy commented on #42
No rush riuson, this app is still the best one I ever find! I'm actually including link in all display libraries!

[2016-06-22 19:15] riuson commented on #42
Try compile branch `feature-operations`, revision 153bc449d399ea94ae1afa303e1b32e794d0f012 .

[2016-06-23 08:36] #40 closed

[2016-06-23 09:14] sumotoy commented on #42
Amazing! Thanks, I will try this afternoon, can't wait!

[2016-06-27 20:04] riuson commented on #42
I have uploaded compiled binary rev. aeaec30c605c26a2120fc3fd7643d96b8050e187 from 2016-06-27.

[2016-06-27 21:40] sumotoy commented on #42
* ascent:		12
* descent:		3

You got it! It works! Obviously it doesn't work for old stored fonts but I have converted new one and it works!
I have tried optimized height and correctly updated descent-ascent!
Did you save the original font ascent/descent data in the saved font file? (NOT the converted one, I know it's present)

[2016-06-28 13:07] riuson commented on #42
I save modified data in xml font file:
[code]
This values can be changed with font resize/minimize. So it is not original values of the font.

[2016-07-22 15:23] #42 closed

[2016-10-25 07:31] LeOSW42 opened #43 "Output not complete: missing characters"
Hi,

I'm exporting the 255 firsts characters of the Liberation Mono font to a C file.
In the C generated fil I only have the 163 firsts characters, the lasts one are missing. It stopped at the character \x00ad (-) missing \x00ae (®).
Of course I have used "Convert All" option.

.xml file : https://framadrop.org/r/2Xv2tPfthz#AhX6+NWilhhdX0BUM4u7aAlxTOvwK3NV2jvw3+BIhXk=

Léo

[2016-10-25 09:17] LeOSW42 commented on #43
Ok, It was my fault, wrong encoding of the font (the default one is not UTF)

[2016-10-25 09:17] #43 closed

[2017-01-05 08:31] kosthala opened #44 "Font optimize height bug"
Steps to reproduce the bug:

1. Create a new font (File->New Font).
2. Select antialiasing option (Parameters->Antialiasing )
3. Set back color alpha channel to 0.

Now, if you try to optimize the font height (Font->Optimize height...) every character is screwed.
See attached image.
![optimizeheightbug](https://cloud.githubusercontent.com/assets/24932576/21673529/0d56a7ca-d332-11e6-8a6b-0d779594e2

[2017-01-16 13:24] riuson commented on #44
Please check a new version.

[2017-01-16 21:19] kosthala commented on #44
Hello Vladimir,

I have made a few tests and everything seems to be OK.

Thank you very much for the fix.

Konstantinos.

On 16/01/2017 at 15:24, Vladimir <notifications@github.com> wrote:
Please check a new version.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-18 15:56] riuson commented on #44
Ok, glad to hear that.

[2017-01-18 15:56] #44 closed

[2017-04-16 13:28] sbfreddie opened #45 "Cannot build on Mac OS 10.12.4"
Hello:
While trying to build this app using qmake according to your instructions, qmake gives this error:
RCC: Error in 'resources/resources.qrc': Cannot find file 'lcd-image-converter-ru.qm'

What am I doing wrong?

Thanks,
Ed

[2017-04-17 13:08] riuson commented on #45
Hello.
Its OK. This file compiles from lcd-image-converter-ru.qm with `make` command.
For example, see at lines 397 and 403 from [this build log](https://travis-ci.org/riuson/lcd-image-converter/jobs/213045850).
This file (qm) not included because it is binary file what often changed.

[2017-05-02 03:09] #45 closed

[2017-11-30 06:15] zoon81 opened #46 "Forced font reordering"
Hi,
I made a new font table with only number and a plus sign symbol and negative sign symbol (0,1,2,3,4,5,6,7,8,9,+,-) in this order.
But when I am hit convert and I check the output, the order of the characters are changed (+,-,0,1,2,3,4,5,6,7,8,9). This is behave like an ASCII value based order.
I builded from source under mac in yesterday.
Revision bf3294d from 2017-03-20 21:03:09 +0500
I linke

[2017-12-16 15:04] antoniovazquezblanco opened #47 "Output file encoding"
If in my templates I use special characters, output files get wrongly encoded characters. For example, if I include the character `á` then in the output source code I get `Ã¡`.

[2017-12-16 15:06] riuson commented on #47
Please attach files:
- font's xml document
- font's template
- preset's export
- output file

[2017-12-16 15:39] antoniovazquezblanco commented on #47
Template:
[code]
Default font template.
Presets:
[code]
Output file header:
[code]

[2017-12-16 15:40] antoniovazquezblanco commented on #47
Awesome response speed! Thank you! ;)

[2017-12-16 15:56] antoniovazquezblanco opened #48 "Generated files include extra empty lines"
Generated source code files have empty lines before the header and in between the header and the `block_images_table` section.

Can they be removed to better fit the templates?

[2017-12-16 17:22] riuson commented on #47
Try save template file as UTF-8 **with BOM**.

[2017-12-16 18:22] antoniovazquezblanco commented on #47
That worked! Thank you very much!

[2017-12-16 18:23] #47 closed

[2017-12-21 13:35] riuson commented on #48
There is no extra spaces.
Just remove _new line_ characters from required strings.
Change code from
[code]
to
[code]

Because `$(tag)` just removed from text, but empty lines are keeped.

[2017-12-21 13:45] riuson commented on #46
You can disable character's sorting:
![2017-12-21_18-44-35](https://user-images.githubusercontent.com/415202/34258286-154a86a2-e67f-11e7-9500-17fc273acdd9.png)

[2017-12-23 06:45] zoon81 commented on #46
I missed this one.
Many thanks!

[2017-12-23 06:48] #46 closed

[2018-01-09 05:34] #48 closed

[2019-03-29 19:58] dimka-rs commented on #45
Same problem with linux:
`RCC: Error in 'resources/resources.qrc': Cannot find file 'lcd-image-converter-ru.qm'`
How do you build app correctly then?

[2019-03-29 21:37] riuson commented on #45
This message appears after the start of the qmake?
Have you tried running make after this?

[2019-03-29 21:45] dimka-rs commented on #45
Agh, got it, Makefile is created anyway. Probably you should mention in readme that this error is safe to ignore. Thank you!

[2019-03-29 21:49] riuson commented on #45
This was mentioned in this topic above and docs: https://www.riuson.com/lcd-image-converter/others/build-from-sources

[2020-01-31 08:32] armingrundmann opened #50 "codepage 1252 missplaces question mark on conversion"
When I converted a set of characters (0x20 to 0xFF) from CP1252 to source code, the question mark inside the filled diamond also got assiged the number 0x3f (regular question mark), where it should have gotten number 0x81. (My font was Arial size 9.)

When I exported with character sorting, the regular question mark got replaced with the diamond one. When I exported without sorting, `Arial09_0x3f`

[2020-02-06 15:59] tabroughton opened #51 "libqxcb failed to load: No protocol specified"
I've run `qmake` and `make` and the build creates `./release/linux/output/lcd-image-converter` but when I run it I get the error:

[code]

I set the qt debug mode on `export QT_DEBUG_PLUGINS=1` and I get the output:

[code]

I'm not sure how much info is helpful to see what's wrong but here's the dump of dependencies for libqxcb on my system:
[code]

I have also reinstalled libqxcb but still isn't

[2020-02-06 16:08] tabroughton commented on #51
also I'm using qt5 v 5.14

[2020-02-16 19:49] salmansheikh opened #52 "Can't built on linux, installed lots of qt5 dependencies.."
qmake error:

lcd-image-converter-master$ qmake
RCC: Error in 'resources/resources.qrc': Cannot find file 'lcd-image-converter-ru.qm'

[2020-02-17 00:05] graemechapman commented on #52
Same issue, removing reference to the translation files worked for me (although obviously you then lose support for Russian)
https://github.com/riuson/lcd-image-converter/blob/master/lcd-image-converter.pro#L418-L423
https://github.com/riuson/lcd-image-converter/blob/master/resources/resources.qrc#L13-L15

[2020-02-21 15:41] techtoys opened #53 "Is it possible to change the bit endianness?"
Hi

I have a display with endianness as follows:
if a pattern  10110101 is wanted at the top left corner, we need to send 0xAD but not 0xB5.
That means the bit position is reversed from little-endianness.

I tried to change it from Options>Image>Big-Endian but there is no change on the bit position.

Is there any way to do the bit reverse from LCD Image Converter?

John

[2020-02-27 21:10] AlexKlimaj opened #54 "Splitting width into two values?"
I am trying to generate one two byte value for each line but I can't seem to figure out the right settings to do so. Wider characters always come out with double the number of values.

[code]

[2020-02-28 17:22] #54 closed

[2020-04-05 14:40] riuson commented on #50
Character 0x81 is missing in [encoding CP1252](https://en.wikipedia.org/wiki/Windows-1252).

In revision e5ae407, a partial workaround for this problem is added, as well as an optional skip of such characters when converting to a font file.

[2020-04-05 14:58] riuson commented on #52
This is the **intended** behavior.
https://www.riuson.com/lcd-image-converter/others/build-from-sources

[2020-04-05 15:03] riuson commented on #53
Bit's order can be changed on the **Reordering** tab.
https://www.riuson.com/lcd-image-converter/options/conversion/reordering

[2020-04-06 02:45] #53 closed

[2020-04-06 02:45] techtoys commented on #53
Thank you

[2020-07-06 08:32] liefyuan opened #55 "What algorithm did you use to solve the distortion caused by the conversion of 24-bit image to 565-bit image?"
After the application, I found that your conversion effect is particularly good. What algorithm did you use to solve the distortion caused by the conversion of 24-bit image to 565-bit image?

[2020-07-06 16:18] riuson commented on #55
I don't use any specific algorithms.
R[7-0] G[7-0] B [7-0] reduced to R[7-3] G[7-2] B [7-3]

[2020-07-12 17:18] dsalychev opened #56 "Patch with "out_blocks_offset" tag"
Hi,

You'll find a patch which adds a new "out_blocks_offset" tag to the templates in the archive. It might be useful to provide an offset in a single image data array (see TestFont.c and TestFont2.c with their _glyphs and _bitmaps variables) to a glyph:
[code]
This is how I generate fonts for my tamagotchi-like toy.

[out_blocks_offset_patch.zip](https://github.com/riuson/lcd-image-converter/file

[2020-07-15 15:36] dsalychev commented on #56
@riuson Any thoughts?

[2020-07-15 20:23] riuson commented on #56
@dsalychev , it is useful, accepted. Thanks.

[2020-07-16 12:45] riuson commented on #56
Added in rev. d56faf9

[2020-07-16 13:50] dsalychev commented on #56
Looks good to me :) I tried to build and run it with my font template - no problem. The only adjustment is for the tag's name itself needed. Thanks for accepting.

[2020-07-16 13:50] #56 closed

[2020-07-19 07:42] #55 closed

[2020-07-22 19:16] dsalychev commented on #52
btw, I've managed to build the converter on FreeBSD with Xfce. I could prepare an instruction how to do so. Is anyone interested?

[2020-07-22 19:24] dsalychev opened #57 "CLI to convert images with pre-defined template"
Hi,

I wonder which way would be the easiest one to have a command-line interface for lcd-image-converter to be called for a single image to be converted and a template for images? Something like:

[code]

[2020-07-22 19:27] dsalychev commented on #57
I'm looking for a place in code where to start hacking from, no more.

[2020-07-22 20:21] riuson commented on #57
Hi,
I don't understand. You are have found the command already. What you want to hack?

[2020-07-23 05:47] dsalychev commented on #57
Ah, it makes sense :) I haven't seen that page. Thanks!

[2020-07-23 05:48] #57 closed

[2020-07-24 08:05] DiamondWrist opened #58 "Can't build lcd-converter on macOS."
I have installed qt5 by brew. Then I called "qmake" and watched this error
<img width="572" alt="image" src="https://user-images.githubusercontent.com/37808972/88371878-8bf6fa80-cd9d-11ea-983a-ed5d331662ea.png">

[2020-07-24 08:13] riuson commented on #58
Add `#include <QPainterPath>` to header's section of toolfill.cpp

[2020-07-24 08:22] DiamondWrist commented on #58
@riuson thx a lot!!!! Build was successful.

[2020-07-24 08:22] #58 closed

[2020-08-05 09:51] yjun123 opened #59 "Build Error on Arch Linux"
[code]

Qt version: 5.15.0
make version: 4.3
gcc version: 10.1.0

[2020-08-05 10:24] riuson commented on #59
Look at just previous issue https://github.com/riuson/lcd-image-converter/issues/58

[2020-08-05 10:24] #59 closed

[2020-08-17 19:18] riuson commented on #58
Fixed at revision 52ca14a0aa93cd38cf6b3852b94122cc5c0ef157

[2020-10-14 12:16] vintan opened #62 "conversion preset deleted"
I am using the lcd-image-converter-20190317 executable on Windows.
Accidentally I removed the monochrome conversion preset. Now I am unable get it even after the fresh .exe
I have tried clearing Temp folder.

[2020-10-14 12:50] riuson commented on #62
Look to command line options:
https://lcd-image-converter.riuson.com/en/docs/others/command-line/

[2020-10-14 13:14] vintan commented on #62
Thank you for you quick response..
Re-initialized the configurations.

[2020-10-14 13:14] #62 closed

[2020-11-09 10:28] liefyuan opened #63 "I want to display pictures in BMP format on Qt5. The way I can think of is to ask you."
After Baidu Google Stack Overflow did not find a way to use Qt5 to display a BMP picture.（在百度谷歌Stack Overflow之后都没有发现一个可以使用的办法使用Qt5来显示一张BMP图片）

[2020-11-09 10:38] liefyuan commented on #63
The BMP picture of RGB888 is displayed well, my BMP format picture is RGB565, which is not easy to display

[2020-11-09 16:31] riuson commented on #63
You can convert it programmatically to R8G8B8 format.

[2020-11-25 15:27] gfcwfzkm opened #64 "Checkbox "Split to rows" not applied when RLE Compression is active"
The found issue is under Options -> Conversion ->Image:
I've noticed that the output hex data and "Show Preview" data is not split up when the "RLE Compression" Checkbox is checked, despite the "Split to rows" Checkbox being checked as well.

[2020-11-25 15:46] riuson commented on #64
It is by design.
What size of image's you are using?

[2020-12-31 00:10] zaprodk opened #65 ""Split to rows" only works when "Bands" is disabled"
Hi.
Your program has been very helpful for me in converting bitmap images for a SSD1325-based OLED-display i'm working with.

Standard setup with Grayscale-4 produces nice results, arrays nicely printed in lines, even "human readable" in the editor, ready to copy to my source code fiile.

Now i've decided to turn my OLED 90 degrees on it's side, and this means i will need pixels in "bands".

When

[2021-01-17 09:30] TriBallscom opened #66 "Zig-zag conversion"
Hi,

Most people who build matrix led setups from led strips use a zig-zag setup, it would be nice if the conversion could do a zig-zag scan.

[2021-01-17 09:43] riuson commented on #66
Hello,
It is already possible with custom scan script.

[2021-01-17 09:45] TriBallscom commented on #66
I couldn't find how to customize the script.
It would be very helpful :)

[2021-01-17 09:46] TriBallscom commented on #66
Ow stupid, never mind..

[2021-01-17 09:46] #66 closed

[2021-03-01 17:07] riuson commented on #65
Hello,
I can't reproduce problem neither on 466b2e23a03ccf57597fbae90b918ee75a3ebf5e (12 Oct 2016) or actual code.
Please try [latest version](https://sourceforge.net/projects/lcd-image-converter/files/).
If the problem persists, please provide more details to reproduce it (xml document with image, exported preset in xml).

[2021-03-01 17:09] #63 closed

[2021-03-09 09:59] dallen98 opened #67 "Convert Animated Gif"
Can it convert animated gif into arrays ?
![walk32](https://user-images.githubusercontent.com/45625808/110453427-0d499600-80be-11eb-8139-c2cfee47eab0.gif)

thanks

[2021-03-09 10:02] riuson commented on #67
No.
It can be done with imagemagick and shell script.

[2021-04-16 17:32] schuppeste opened #68 "Char Byte alignment"
Hi, nice tool. i need a Binary File for Byte Stream.

Example for First Pixel from Char in BMP:
Asciicode\*width\*height.

maybe alternative, save all chars as single bmp One Click?

[2021-04-16 17:58] #68 closed

[2021-06-14 14:03] boromyr opened #69 "Adafruit GFX Compatibility"
Hi, I wanted to know if you can export fonts for compatibility with the Adafruit GFX library, I tried to look for a template but I couldn't find it. This is an example of[font Adafruit](https://github.com/Bodmer/TFT_eSPI/blob/master/Fonts/GFXFF/FreeMono12pt7b.h). Everything is exported as a vertical image, and after those that should be the coordinates, but I can't reconstruct the template.

[2021-06-15 15:39] #67 closed

[2021-06-20 18:52] riuson commented on #69
Hello,
Try the following template.
It is highly likely that it will not give you an immediately working result. But it can give you a starting point.
[code]

[2021-06-22 20:54] boromyr commented on #69
Wow, thank you very much, I'll try it and I'll try to fix it. You could add it to the repository, so they can use it too, almost all library use Adafruit GFX and there are no simple and effective tools for fonts.
Excellent app!!!!

[2021-06-23 07:36] riuson commented on #69
If you manage to bring the template to working condition, let me know. Maybe I will add it to the package.

[2021-09-28 21:21] discip opened #71 "need help"
Good evening Sir.
First of all, thank you for providing this very helpful software! 👍

I am having some trouble understanding what to change to convert this:

![test](https://user-images.githubusercontent.com/53649486/135296493-9b966749-47bc-4f7f-99bd-da912642e9b1.png)

to this:
[code]

thanks in advance
kind regards

[2021-09-29 13:02] #69 closed

[2021-09-29 13:04] #51 closed

[2021-09-29 13:04] #64 closed

[2021-09-29 13:05] #65 closed

[2021-09-29 13:13] riuson commented on #71
Hello,
Unfortunately, I'm not a cryptanalyst.
Conversion requires knowing the format of the output file.

[2021-09-29 15:08] discip commented on #71
@riuson
Good afternoon sir,
first of all thank you for having reacted to this post. 😃👍
Please don't be offended by my approach, since I am not familiar with this kind of topic, I thought the ***'source'*** and the ***'result'*** would suffice. 😁
I used your tool to convert the picture above but was not able to get it done no matter what I choose, it was almost the same but not exactly.
What exactl

[2021-09-29 15:19] riuson commented on #71
*Data format*.
Description of each byte in resulting array.

Are you have a code what draws image from this array?

[2021-09-29 15:23] discip commented on #71
It is used in this software: https://github.com/Ralim/IronOS/blob/master/source/Core/Drivers/Font.h
But unfortunately I do not know, which part is responsible for decoding the arrays. 😅

[2021-09-29 15:32] riuson commented on #71
Can you provide rendered images for `☐`, `.`, `|` ?

[2021-09-29 15:33] discip commented on #71
I have compared the two arrays mentioned above and realized: The code itself is the same except for the fact that it is arranged somewhat differently:
To put it the way I would need it I would have to read the code (which was generated by your tool)

from bottom right to the top right and than
from the bottom left to the top left

and afterwards write it down

from left to right and top to bottom

[2021-09-29 15:37] discip commented on #71
Sorry, but I can't since I am only seeing the rendered images on the Iron.

[2021-09-29 15:45] riuson commented on #71
Ok, i understand format...
`☑`

[code]

[2021-09-29 16:35] riuson commented on #71
The image you provided in first message does not match the byte array. It is only slightly similar.

I have attached preset what you can import in app's options dialog - [discip.zip](https://github.com/riuson/lcd-image-converter/files/7253595/discip.zip)

Demo:
![Screenshot 2021-09-29 213240](https://user-images.githubusercontent.com/415202/135311043-934f2a4f-e3b3-4238-909c-22d132b20c64.jpg))
http

[2021-09-29 19:53] discip commented on #71
@riuson
Maybe this could be of any help:
https://github.com/Ralim/IronOS/blob/master/Translations/BitmapEditor.html

[2021-09-30 16:54] riuson commented on #71
Script inside this html page is not working in my browser.

![Screenshot 2021-09-30 215314](https://user-images.githubusercontent.com/415202/135498152-d6e2a96c-f876-4c95-bcc5-436f038882db.jpg)

[2021-09-30 17:12] discip commented on #71
I think I am close to the solution with this:
[IronOS _almost.txt](https://github.com/riuson/lcd-image-converter/files/7261289/IronOS._almost.txt)

The *only* additional steps I have to perform are:
1. ***reverse line order***
2. ***delete carriage return and line feed***
3. ***insert the carriage return and line feed*** after every 28th **`,`** (comma)

Can this be achieved with your software as

[2021-09-30 17:30] riuson commented on #71
1. What is *reverse line order*?
2. May be, depends on the cause of the occurrence. But compiler is indiffirent to this.
3. No. But compiler is indiffirent to this.

Above, I gave the settings that produce the same result as specified in the project. Why aren't you using it?

[2021-09-30 17:41] discip commented on #71
1. Ah sorry I used the term notepad++ uses to swap the first line with the last, the second with the forelast ...

But you said yourself that this setting is not applicable to the image I posted initially.

[2021-09-30 17:45] riuson commented on #71
This swapping is already enabled in my preset.

***

Yes. Because your image is seems not correctly encoded for algorithm from here:

Difference seems like missing lines on border. You can decode your byte array by may pictire posted above.

[2021-09-30 19:12] discip commented on #71
@riuson
# Again a big thank you for this software and the effort you took on to help me figuring this out! ❤👍

Here is the setting attached that did the trick *(The only thing I have to do manually, is to replace the ***white space*** with ***carriage return & line feed*** after every 28th **`,`**)* 😅
[84x16_IronOS.txt](https://github.com/riuson/lcd-image-converter/files/7261906/84x16_IronOS.txt)

[2021-09-30 19:12] #71 closed

[2021-10-01 02:01] riuson commented on #71
There is scanning from latest column to first. Image is flipped horizontally.

This is completely unnecessary. The compiler doesn't care about the length of the string.
If you are worried about the appearance of the code, you can use utilities like [AStyle](http://astyle.sourceforge.net/). All code of the lcd-image-converter is formatted using that utility.

[2021-10-01 05:11] discip commented on #71
Thank you!

[2021-10-06 09:59] klenSA opened #72 "некорректное использование неполного типа «const class QPainterPath»"
ubuntu 20.04
gcc:
Целевая архитектура: x86_64-kgp-linux-gnu
Параметры конфигурации: ../../src/gcc/configure -v --prefix=/klen/tools/x86_64-kgp-linux-gnu-znver2-avx2 --target=x86_64-kgp-linux-gnu --host=x86_64-kgp-linux-gnu --build=x86_64-kgp-linux-gnu --enable-gold --with-pic --disable-bootstrap --enable-lto --enable-languages=c,c++,lto --enable-plugins --disable-libstdcxx-debug --disable-libstdcx

[2021-10-06 13:04] riuson commented on #72
Подобное было в #58 .
Сейчас установил Ubuntu 20.04, Qt5 и GCC 9.3.0 из репозитория, всё собирается нормально.

[2021-10-09 19:52] #72 closed

[2022-01-14 01:24] RicardoCSR opened #73 "Lost presets"
Hi Riuson,
I am using the program LCD Image Converter to use some image to my project it was perfect but I lost the default preset that i used the COLOR RGB565 so I "reinstall" the program, but still only with the remaining options, do you know who to fix it or reset that part of the program?

thank you

[2022-01-14 03:20] riuson commented on #73
Hello,
Use command line: https://lcd-image-converter.riuson.com/en/docs/others/command-line/

[2022-01-14 09:24] #73 closed

[2022-05-15 12:45] kenyerman opened #75 "Wrong version gets downloaded as latest on sourceforge.com"
## Steps to reproduce

1. Open the project's _sourceforge_ page: [https://sourceforge.net/projects/lcd-image-converter/](https://sourceforge.net/projects/lcd-image-converter/)
2. Click the big green ___Download___ CTA button

## What happens
`lcd-image-converter-20161012.zip` gets downloaded.

## What should happen
`lcd-image-converter-20190317.zip` should get downloaded.

## Additional info
When

[2022-05-17 11:31] riuson commented on #75
Thanks. Fixed.

[2022-05-18 18:57] kenyerman commented on #75
### Verified!
Now when I click the button, the `lcd-image-converter-20190317.zip` is downloaded.

Also I want to thank you for this software. It is very useful and works well. 💖🎉

__Closing because issue solved.__

[2022-05-18 18:57] #75 closed

[2022-09-02 14:51] InformaticsProject opened #76 "Completely broken"
Import image - > Nothing
New image -> It's too small
Resize -> you can't just type in your size that would be too easy, instead type in by how much you want to EXTEND your size. Also broken doesn't work on the y axis????
Fill tool -> Does nothing
Select anything -> sticky select box
Drag in image  -> nope
Do anything -> Colors disappear
Try to draw -> Whole canvas disappears?????

wtf is this

[2022-09-02 18:16] riuson commented on #76
If you don't want to learn the interface of a program and expect it to work like something you know, then use exactly the program that you know well.

[2022-09-06 13:25] #76 closed

[2022-09-15 12:35] i-g-g-y opened #77 "72pix fonts are same height as 48pix or 54pix fonts"
I have noticed 2 things.

1). The font size goes to 72 max.
2). from 48 onwards, the size of the font is the same

[2022-09-15 12:43] i-g-g-y commented on #77
Forgot to mention, this was observed when using MS Sans Serif

[2022-09-15 17:05] riuson commented on #77
Sorry, I can't fix it.
Fonts like **Courier**, **MS Sans Serif**, **MS Serif** are **bitmap** fonts. They can't be scaled to any size. Only fixed list of values are available.
For example, **Arial** is a scalable font:

[code]

[code]

[code]
[code]

[2022-09-15 20:41] i-g-g-y commented on #77
OK, thanks for info, I will use a scalable font then.

[2022-10-18 09:53] daniSi90 opened #78 "Wrong font rendering"
I have realized that when converting (with RLE enabled) the font Gotham Narrow Bold the result is not as expected.

For comparison, in the picture below is a font converted with the microchip converter (1.line) and with LCD image converted (2. line).

![20221018_103135](https://user-images.githubusercontent.com/7020947/196397495-d2d6640f-2298-4ac8-a74e-34dfcfb2a3f5.jpg)